<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <remove name="OPTIONSVerbHandler" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\VotingAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ConnectionStrings__DbConnection" value="YOUR_DATABASE_CONNECTION_STRING" />
          <environmentVariable name="Jwt__Key" value="YOUR_JWT_SECRET_KEY" />
          <environmentVariable name="Jwt__Issuer" value="VotingAPI" />
          <environmentVariable name="Jwt__Audience" value="voting-web" />
          <environmentVariable name="Jwt__ExpireDays" value="1" />
          <environmentVariable name="EmailSettings__Host" value="smtp.gmail.com" />
          <environmentVariable name="EmailSettings__Port" value="587" />
          <environmentVariable name="EmailSettings__Email" value="YOUR_EMAIL_ADDRESS" />
          <environmentVariable name="EmailSettings__Password" value="YOUR_EMAIL_PASSWORD" />
          <environmentVariable name="BlockchainSettings__NodeUrl" value="https://ethereum-sepolia-rpc.publicnode.com" />
          <environmentVariable name="BlockchainSettings__AdminPrivateKey" value="YOUR_ADMIN_PRIVATE_KEY" />
          <environmentVariable name="BlockchainSettings__AccessControlAddress" value="0xb8f171c6ce07970495C16BeBd6997A418Bd056F9" />

          <environmentVariable name="BlockchainSettings__VoterRegistryAddress" value="0xCDb3aaC3827B29c8f04C841fb8D7bae8d133cFe9" />
          <environmentVariable name="BlockchainSettings__BallotFactoryAddress" value="0x5569Df442218928D9b0cfBD84134dA1FdB49C3F7" />
          <environmentVariable name="BlockchainSettings__ResultAggregatorAddress" value="0x21dfA36cc4498FC42Ef5503a97410aC67243632A" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>